# --- Системный мусор и настройки редактора ---
.vscode/
.history/
*.log
*.tmp
__macos/
desktop.ini
Thumbs.db
.luarc.json
.factorio-api
Needed_for_TIMSABA/

# --- Файлы Git ---
.git/

# --- Результаты сборки (тот самый архив и временная папка) ---
dist/
*.zip

# --- Служебные скрипты автоматизации ---
pack.ps1

# --- Специфичное для Factorio (если запускаешь игру из этой папки) ---
crop-cache.dat
